################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/blenderSample/v15
/blenderSample/Debug/blenderSample.tlog
/blenderSample/Debug
/blenderSample/targetver.h
/blenderSample/stdafx.h
/blenderSample/blenderSample.vcxproj.user
/blenderSample/blenderSample.vcxproj.filters
/blenderSample/blenderSample.vcxproj
/blenderSample/stdafx.cpp
/blenderSample.sln
/blenderSample.sln.DotSettings.user
/blenderSample/x64
/x64
/Report20191211-2121.vspx
/Report20191211-2121.diagsession
/candle_flame.sln
/candle_flame.sln.DotSettings.user
/.vscode
/blenderSample/results
/blenderSample/FullAnimation.o
/blenderSample/Math_Solver.o
/blenderSample/VolumeInstance.o
/blenderSample/blenderSample.o

